*

!/BestCoder/
!/BestCoder/**/
!/Codeforces/
!/Codeforces/**/
!/HDU/
!/HDU/**/
!/LeetCode/
!/LeetCode/**/
!/POJ/
!/POJ/**/

!*.h
!*.c
!*.cpp
!*.java
!*.py
!Makefile

!ACMer.xls
!README.md
!.gitignore
